body {
    margin: 0;
    background: #242831;
}

.App {
    margin: 0;
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;

    .things {
        border: 0.05rem grey dotted;
        padding: 10px;
        width: 100%;
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        perspective: 1000px;

        .grid-element {
            border: 0.05rem grey dotted;
            padding: 10px;
        }

        .navigation {
            flex: 450px 0 450px;
        }

        .social {
            flex: 350px 0 350px;
        }

        .dothover {
            flex: 300px 0 300px;
        }

        .rotate {
            border: none;
            height: 200px;
            width: 200px;
            flex: 200px 0 200px;
            position: relative;
            transition: transform 0.6s;
            transform-style: preserve-3d;

            .front {
                position: absolute;
                backface-visibility: hidden;
                border-radius: 10px;
                height: 200px;
                width: 200px;
                background: url(../assets/painting.jpg) no-repeat center center/ cover;
            }

            .back {
                transform: rotateY(180deg);
                position: absolute;
                backface-visibility: hidden;
                border-radius: 10px;
                height: 200px;
                width: 200px;
                background: url(../assets/flower.jpeg) no-repeat center center/ cover;
            }

        }

        .rotate:hover {
            transform: rotateY(180deg);
        }

        .button-boxshadow {
            display: flex;
            flex-direction: column;

            .button1 {
                border: none;
                border-radius: 10%;
                height: 100px;
                width: 100px;
                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }

            .button2 {
                margin-top: 10px;
                border: none;
                border-radius: 10%;
                height: 100px;
                width: 100px;
                box-shadow: rgba(3, 196, 214, 0.637) 0px 0px 0px 3px;
            }

            .button3 {
                margin-top: 10px;
                border: none;
                border-radius: 10%;
                height: 100px;
                width: 100px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            }
        }

        .cool-input {
            height: 100px;
            padding-top: 20px;
            padding-left: 13px;
            padding-right: 13px;
            position: relative;
            background-color: rgb(255, 255, 255);
            border: none;
            border-radius: 2%;

            .input-label {
                position: absolute;
                display: block;
                left: 15px;
                top: 15px;
                font-size: 1.3rem;
                transition: 0.3s ease;
            }

            .input-field {
                caret-color: #242831;
                padding-left: 6px;
                border: none;
                border-bottom: #242831 2px solid;
                outline: none;
            }

            .input-field::placeholder {
                color: transparent;
            }

            .input-field:focus~.input-label,
            .input-field:not(:placeholder-shown)~.input-label {
                top: 5px;
                font-size: 0.9rem;
            }
        }
    }
}